*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}




header{
    background-color: darkcyan;
    box-sizing: border-box;
    height: 72px;
    display : flex;
flex-direction : row;
justify-content : space-between;
align-items : center;
padding: 16px;
}
#LOGO{
    width: 35px;
}
nav ul{
    display : flex;
flex-direction : row;
list-style: none;
gap: 24px;
}
nav a{
    color: white;
    text-decoration: none;
}
input{
    padding: 8px;
    border: none;
   width: 100%;
}
#searchholder{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
    width: 40%;
    border-radius: 8px;
}
#searchholder img{
    width: 20px;
    height: 20px;
    opacity: 70%;
    }